.slide-container{
    padding: 20px;
    height : 100vh;
}

.place{
    color: white;
}

.belowSlides{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description{
    background-image:linear-gradient(rgb(144, 144, 248),rgb(247,237,237));    
    text-align: center;
    margin-top: 50px;
    width: 50%;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 10px grey;
    margin-bottom: 10px;
}

.detailsText{
    word-wrap: break-word;
}

.eventDetailsButton {
    display: flex;
    justify-content: space-between;
    margin-top: 50px; /* Add some top margin for separation */
  }
  
  .eventDetailsButton a {
    background-color: rgb(144, 144, 248);
    color: white;
    text-decoration: none;
    padding: 10px 20px; /* Adjust padding for button size */
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Add smooth transition effect */
  }
  
  .eventDetailsButton a:hover {
    background-color: rgba(144, 144, 248, 0.8); /* Darken the background color on hover */
  }

  .eventDetSubButton{
    margin-left: 10px;
    margin-right: 10px;
  }
  