.footerCont{
    min-height: 20vh;
    background-image:linear-gradient(rgb(247,237,237),rgb(144, 144, 248));
    display: flex;   
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
