.profileContainer{
    
}
.gradient-custom {
    /* fallback for old browsers */
    background: #f6d365;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, rgb(144, 144, 248),rgb(247,237,237));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom,rgb(144, 144, 248),rgb(247,237,237))
    }
.carstl{
    background-color: rgb(247,237,237);
    border-radius: 10px;
}

/* .editDiv{
    display: flex;
    justify-content: center;
} */

.editProfileButton{
    border-radius: 0;
    background-color: rgb(144, 144, 248);
    color: white;
    width: 250px;
    border-radius: 5px;
}

.editProfileButton:hover{
    border: 1px solid black;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #434343,
      #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #434343,
      #000000
    );
}


